<div class="frames">
    <h3>FRAMES</h3>
    <div class="mb-4">
        <acshb-frame title="2016 Bütçe Personel Giderleri (₺) - Default" icon="faChartBar" [collapsable]="false">
            <h5>2016 Bütçe Personel</h5>
            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
                matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
                1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
            </p>
            <a href="#" class="btn btn-primary">Bana Tıkla</a>
        </acshb-frame>
    </div>
    <div class="mb-4">
        <acshb-frame title="2016 Bütçe Personel Giderleri (₺) - Default" icon="faChartBar" [collapsable]="true">
            <h5>2016 Bütçe Personel</h5>
            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
                matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
                1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
            </p>
            <a href="#" class="btn btn-primary">Bana Tıkla</a>
        </acshb-frame>
    </div>
    <div class="mb-4">
        <acshb-frame title="2016 Bütçe Personel Giderleri (₺) - Default" icon="faChartBar" [collapsable]="true"
            [bordered]="true">
            <h5>2016 Bütçe Personel</h5>
            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
                matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
                1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
            </p>
            <a href="#" class="btn btn-primary">Bana Tıkla</a>
        </acshb-frame>
    </div>
    <div class="mb-4">
        <acshb-frame title="2016 Bütçe Personel Giderleri (₺) - Default" icon="faChartBar" [collapsable]="true"
            [bordered]="true" [loading]="true">
            <h5>2016 Bütçe Personel</h5>
            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
                matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
                1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
            </p>
            <a href="#" class="btn btn-primary">Bana Tıkla</a>
        </acshb-frame>
    </div>
</div>