<acshb-wrapper>
  <acshb-toolbar
    fullname="Alptuğ Türkiş"
    title="T.C. Aile, Çalışma ve Sosyal Hizmetler Bakanlığı"
    logoUrl="assets/img/armali-logo-tr.svg"
    (menuToggleCallback)="onMenuToggle()"
  ></acshb-toolbar>
  <acshb-icon icon="faAdjust" color="#000"></acshb-icon>
  <acshb-button className="btn btn-primary" (clicked)="onModalOpen()"
    >Modal Aç</acshb-button
  >
  <acshb-button
    className="btn btn-primary"
    text="Osman"
    (clicked)="onClicked($event)"
  ></acshb-button>
  <acshb-dropdown
    title="Dropdown"
    [data]="[
      { key: 0, value: 0, title: 'osman' },
      { key: 1, value: 1, title: 'alptuğ' }
    ]"
    (selectCallback)="onSelected($event)"
    color="primary"
  ></acshb-dropdown>
  <acshb-frame
    title="2016 Bütçe Personel Giderleri (₺) - Default"
    icon="faChartBar"
  >
    <h5>Special title treatment</h5>
    <p>
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </acshb-frame>
  <acshb-frame
    title="2016 Bütçe Personel Giderleri (₺) - Bordered"
    icon="faChartBar"
    bordered="true"
  >
    <h5>Special title treatment</h5>
    <p>
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </acshb-frame>
  <acshb-frame
    title="2016 Bütçe Personel Giderleri (₺) - Loading"
    icon="faChartBar"
    bordered="true"
    loading="true"
  >
    <h5>Special title treatment</h5>
    <p>
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </acshb-frame>
  <acshb-accordion title="Başlık 1" [open]="true">
    <p>
      Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
      mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
      numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
      1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
      Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
      değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
      pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
      zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
      yayıncılık yazılımları ile popüler olmuştur.
    </p>
  </acshb-accordion>
  <acshb-accordion title="Başlık 2">
    <p>
      Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
      mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
      numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
      1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
      Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
      değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
      pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
      zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
      yayıncılık yazılımları ile popüler olmuştur.
    </p>
  </acshb-accordion>
  <acshb-button className="btn btn-success" (clicked)="onAlertSuccess()"
    >Alert Success</acshb-button
  >
  <acshb-button className="btn btn-info" (clicked)="onAlertInfo()"
    >Alert Info</acshb-button
  >
  <acshb-button className="btn btn-warning" (clicked)="onAlertWarning()"
    >Alert Warning</acshb-button
  >
  <acshb-button className="btn btn-danger" (clicked)="onAlertError()"
    >Alert Error</acshb-button
  >
  <acshb-modal
    [show]="modalOpen"
    title="Modal Başlığı"
    (submitCallback)="onModalSubmit()"
    (closeCallback)="onModalClose()"
  >
    <div class="conteiner-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>
            Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde
            kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
            matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı
            galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı
            sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını
            sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye
            de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset
            yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi
            Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile
            popüler olmuştur. Neden Kullanırız? Yinelenen bir sayfa içeriğinin
            okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum
            kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin
            gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak
            okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi
            ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem
            Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum'
            anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında
            olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen
            bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri
            geliştirilmiştir. Nereden Gelir? Yaygın inancın tersine, Lorem Ipsum
            rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana
            klasik Latin edebiyatına kadar uzanan 2000 yıllık bir geçmişi
            vardır. Virginia'daki Hampden-Sydney College'dan Latince profesörü
            Richard McClintock, bir Lorem Ipsum pasajında geçen ve anlaşılması
            en güç sözcüklerden biri olan 'consectetur' sözcüğünün klasik
            edebiyattaki örneklerini incelediğinde kesin bir kaynağa ulaşmıştır.
            Lorm Ipsum, Çiçero tarafından M.Ö. 45 tarihinde kaleme alınan "de
            Finibus Bonorum et Malorum" (İyi ve Kötünün Uç Sınırları) eserinin
            1.10.32 ve 1.10.33 sayılı bölümlerinden gelmektedir. Bu kitap, ahlak
            kuramı üzerine bir tezdir ve Rönesans döneminde çok popüler
            olmuştur. Lorem Ipsum pasajının ilk satırı olan "Lorem ipsum dolor
            sit amet" 1.10.32 sayılı bölümdeki bir satırdan gelmektedir.
            1500'lerden beri kullanılmakta olan standard Lorem Ipsum metinleri
            ilgilenenler için yeniden üretilmiştir. Çiçero tarafından yazılan
            1.10.32 ve 1.10.33 bölümleri de 1914 H. Rackham çevirisinden alınan
            İngilizce sürümleri eşliğinde özgün biçiminden yeniden üretilmiştir.
            Nereden Bulabilirim? Lorem Ipsum pasajlarının birçok çeşitlemesi
            vardır. Ancak bunların büyük bir çoğunluğu mizah katılarak veya
            rastgele sözcükler eklenerek değiştirilmişlerdir. Eğer bir Lorem
            Ipsum pasajı kullanacaksanız, metin aralarına utandırıcı sözcükler
            gizlenmediğinden emin olmanız gerekir. İnternet'teki tüm Lorem Ipsum
            üreteçleri önceden belirlenmiş metin bloklarını yineler. Bu da, bu
            üreteci İnternet üzerindeki gerçek Lorem Ipsum üreteci yapar. Bu
            üreteç, 200'den fazla Latince sözcük ve onlara ait cümle yapılarını
            içeren bir sözlük kullanır. Bu nedenle, üretilen Lorem Ipsum
            metinleri yinelemelerden, mizahtan ve karakteristik olmayan
            sözcüklerden uzaktır.
          </p>
        </div>
      </div>
    </div>
  </acshb-modal>
  <p>
    Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
    mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
    numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
    1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
    Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
    değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
    pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda
    Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık
    yazılımları ile popüler olmuştur.
  </p>
  <p>
    Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
    mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
    numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
    1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
    Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
    değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
    pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda
    Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık
    yazılımları ile popüler olmuştur.
  </p>
  <p>
    Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
    mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
    numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
    1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
    Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
    değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
    pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda
    Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık
    yazılımları ile popüler olmuştur.
  </p>
  <p>
    Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
    mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
    numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
    1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
    Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
    değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
    pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda
    Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık
    yazılımları ile popüler olmuştur.
  </p>
  <acshb-form
    submitText="Formu Gönder"
    [formElements]="formElements"
    (submitCallback)="onSubmit($event)"
  >
  </acshb-form>
  <acshb-datatable
    [data]="[
      { name: 'Alptuğ', position: 'Pozisyon A', office: 'Ofis 1' },
      { name: 'Osman', position: 'Pozisyon B', office: 'Ofis 2' },
      { name: 'Osman', position: 'Pozisyon B', office: 'Ofis 2' },
      { name: 'Osman', position: 'Pozisyon B', office: 'Ofis 2' },
      { name: 'Osman', position: 'Pozisyon B', office: 'Ofis 2' }
    ]"
    [columns]="[
      { title: 'Name', name: 'name', filtering: {filterString: '', placeholder: 'Filter by position'}, sort: 'asc' },
      { title: 'Position', name: 'position' },
      { title: 'Office', name: 'office' }
    ]"
    [itemsPerPage]="3"
  ></acshb-datatable>
</acshb-wrapper>
