<acshb-wrapper>
    <acshb-icon icon="faAdjust" color="#000"></acshb-icon>
    <acshb-button className="btn btn-primary" text="Osman" (clicked)="onClicked($event)"></acshb-button>
    <acshb-dropdown [data]="[{key: 0, value: 0, title: 'osman'}, {key: 1, value: 1, title: 'alptuğ'}]"
        (selectcallback)="onSelected($event)" color="primary"></acshb-dropdown>
    <acshb-frame title="2016 Bütçe Personel Giderleri (₺) - Default" icon="faChartBar">
        <h5>Special title treatment</h5>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </acshb-frame>
    <acshb-frame title="2016 Bütçe Personel Giderleri (₺) - Bordered" icon="faChartBar" bordered="true">
        <h5>Special title treatment</h5>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </acshb-frame>
    <acshb-frame title="2016 Bütçe Personel Giderleri (₺) - Loading" icon="faChartBar" bordered="true" loading="true">
        <h5>Special title treatment</h5>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </acshb-frame>
    <acshb-accordion title="Başlık 1">
        <p>Lorem Ipsum Nedir?
            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
            matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden
            beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle
            kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da
            içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri
            içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</p>
    </acshb-accordion>
    <acshb-accordion title="Başlık 2">
        <p>Lorem Ipsum Nedir?
            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
            matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden
            beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle
            kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da
            içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri
            içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</p>
    </acshb-accordion>
    <acshb-button className="btn btn-success" (clicked)="onAlertSuccess()">Alert Success</acshb-button>
    <acshb-button className="btn btn-info" (clicked)="onAlertInfo()">Alert Info</acshb-button>
    <acshb-button className="btn btn-warning" (clicked)="onAlertWarning()">Alert Warning</acshb-button>
    <acshb-button className="btn btn-danger" (clicked)="onAlertError()">Alert Error</acshb-button>
</acshb-wrapper>