<acshb-wrapper>
    <acshb-icon icon="faAdjust" color="#000"></acshb-icon>
    <acshb-button className="btn btn-primary" text="Osman" (clicked)="onClicked($event)"></acshb-button>
    <acshb-dropdown [data]="[{key: 0, value: 0, title: 'osman'}, {key: 1, value: 1, title: 'alptuğ'}]"
        (selectcallback)="onSelected($event)" color="primary"></acshb-dropdown>
    <acshb-card title="2016 Bütçe Personel Giderleri (₺)" icon="faChartBar">
        <h5>Special title treatment</h5>
        <p>With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </acshb-card>
</acshb-wrapper>