<div class="buttons">
    <h3>BUTONLAR</h3>
    <div class="d-flex justify-content-around align-items-center py-4">
        <acshb-button className="btn btn-primary" text="Primary Buton" (clicked)="onClicked($event)"></acshb-button>
        <acshb-button className="btn btn-secondary" text="Secondary Buton" (clicked)="onClicked($event)"></acshb-button>
        <acshb-button className="btn btn-success" text="Success Buton" (clicked)="onClicked($event)"></acshb-button>
        <acshb-button className="btn btn-warning" text="Warning Buton" (clicked)="onClicked($event)"></acshb-button>
        <acshb-button className="btn btn-danger" text="Danger Buton" (clicked)="onClicked($event)"></acshb-button>
    </div>
    <div class="d-flex justify-content-around align-items-center py-4">
        <acshb-button className="btn btn-outline-primary" text="Primary Outline Buton" (clicked)="onClicked($event)">
        </acshb-button>
        <acshb-button className="btn btn-outline-secondary" text="Secondary Outline Buton" (clicked)="onClicked($event)">
        </acshb-button>
        <acshb-button className="btn btn-outline-success" text="Success Outline Buton" (clicked)="onClicked($event)">
        </acshb-button>
        <acshb-button className="btn btn-outline-warning" text="Warning Outline Buton" (clicked)="onClicked($event)">
        </acshb-button>
        <acshb-button className="btn btn-outline-danger" text="Danger Outline Buton" (clicked)="onClicked($event)">
        </acshb-button>
    </div>
    <div class="d-flex justify-content-around align-items-center py-4">
        <acshb-button className="btn btn-primary" text="Disabled Primary Buton" (clicked)="onClicked($event)" [disabled]="true"></acshb-button>
        <acshb-button className="btn btn-secondary" text="Disabled Secondary Buton" (clicked)="onClicked($event)" [disabled]="true"></acshb-button>
    </div>
    <div class="d-flex justify-content-around align-items-center py-4">
        <acshb-button className="btn btn-primary btn-lg" text="Primary Buton Large" (clicked)="onClicked($event)"></acshb-button>
        <acshb-button className="btn btn-primary btn-sm" text="Primary Buton Small" (clicked)="onClicked($event)"></acshb-button>
    </div>
    <div class="py-4">
        <acshb-button className="btn btn-primary btn-block" text="Block Buton" (clicked)="onClicked($event)"></acshb-button>
    </div>
</div>