<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="app">
  <acshb-alert></acshb-alert>
  <acshb-toolbar
      fullname="Alptuğ Türkiş"
      title="T.C. Aile, Çalışma ve Sosyal Hizmetler Bakanlığı"
      logoUrl="assets/img/armali-logo-tr.svg"
      (menuToggleCallback)="onMenuToggle()"
    ></acshb-toolbar>
    <div class="d-flex">
      <acshb-sidebar
        [items]="routes"
        [open]="sidebarToggled"
        (linkClickedEvent)="onSidebarLinkClicked($event)"
      ></acshb-sidebar>
      <div class="p-4 w-100">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
