<div class="accordions">
  <h3>AKORDİONLAR</h3>
  <hr />
  <div class="d-block">
    <acshb-accordion title="Başlık 1" [open]="true">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
    <acshb-accordion title="Başlık 2">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
    <acshb-accordion title="Başlık 3">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
    <acshb-accordion title="Başlık 4">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
  </div>
  <div class="d-block w-50">
    <acshb-accordion title="Başlık 5">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
    <acshb-accordion title="Başlık 6">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
    <acshb-accordion title="Başlık 7">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
    <acshb-accordion title="Başlık 8">
      <p>
        Lorem Ipsum Nedir? Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan
        mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat
        numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
        1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
        Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek
        değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum
        pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın
        zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
        yayıncılık yazılımları ile popüler olmuştur.
      </p>
    </acshb-accordion>
  </div>
  <hr />
  <div class="component-props">
    <p className="lead">Özellikler</p>
    <p>
      <b>title => string / </b>Accordion komponentinin başlığı.
    </p>
    <p>
      <b>open => boolean / </b>Açık / Kapalı özelliği.
    </p>
    <p>
      <b>children => node / </b>İçerik olarak eklenmek istenen node.
    </p>
  </div>
</div>