<div class="icons">
    <h3>İKONLAR</h3>
    <div class="d-flex justify-content-around flex-wrap mb-4">
        <acshb-icon icon="faAddressBook" color="#000"></acshb-icon>
        <acshb-icon icon="faAddressCard" color="#000"></acshb-icon>
        <acshb-icon icon="faAd" color="#000"></acshb-icon>
        <acshb-icon icon="faAdjust" color="#000"></acshb-icon>
        <acshb-icon icon="faAlignCenter" color="#000"></acshb-icon>
        <acshb-icon icon="faAlignJustify" color="#000"></acshb-icon>
        <acshb-icon icon="faAlignLeft" color="#000"></acshb-icon>
        <acshb-icon icon="faAlignRight" color="#000"></acshb-icon>
        <acshb-icon icon="faAmbulance" color="#000"></acshb-icon>
    </div>
    <div class="d-flex justify-content-around flex-wrap mb-4">
        <acshb-icon icon="faAddressBook" color="red"></acshb-icon>
        <acshb-icon icon="faAddressCard" color="red"></acshb-icon>
        <acshb-icon icon="faAd" color="red"></acshb-icon>
        <acshb-icon icon="faAdjust" color="red"></acshb-icon>
        <acshb-icon icon="faAlignCenter" color="red"></acshb-icon>
        <acshb-icon icon="faAlignJustify" color="red"></acshb-icon>
        <acshb-icon icon="faAlignLeft" color="red"></acshb-icon>
        <acshb-icon icon="faAlignRight" color="red"></acshb-icon>
        <acshb-icon icon="faAmbulance" color="red"></acshb-icon>
    </div>
    <div class="d-flex justify-content-around flex-wrap mb-4">
        <acshb-icon icon="faAngleDoubleDown" color="#000" size="2x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleLeft" color="#000" size="2x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleRight" color="#000" size="2x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleUp" color="#000" size="2x"></acshb-icon>
    </div>
    <div class="d-flex justify-content-around flex-wrap mb-4">
        <acshb-icon icon="faAngleDoubleDown" color="red" size="2x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleLeft" color="red" size="2x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleRight" color="red" size="2x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleUp" color="red" size="2x"></acshb-icon>
    </div>
    <div class="d-flex justify-content-around flex-wrap mb-4">
        <acshb-icon icon="faAngleDoubleDown" color="#000" size="3x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleLeft" color="#000" size="3x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleRight" color="#000" size="3x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleUp" color="#000" size="3x"></acshb-icon>
    </div>
    <div class="d-flex justify-content-around flex-wrap mb-4">
        <acshb-icon icon="faAngleDoubleDown" color="red" size="3x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleLeft" color="red" size="3x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleRight" color="red" size="3x"></acshb-icon>
        <acshb-icon icon="faAngleDoubleUp" color="red" size="3x"></acshb-icon>
    </div>
</div>
