@import "~@ng-select/ng-select/themes/default.theme.css";

// ACSHB-FRAME START
.acshb-frame {
  position: relative;

  .acshb-card-status {
    position: absolute;
    top: -1px;
    left: 1px;
    right: 1px;
    height: 3px;
    border-radius: 3px 3px 0 0;
  }

  .acshb-frame-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6,
    a {
      margin: 0;
      padding: 0;
    }

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    h6 {
      span {
        &:last-child {
          margin-left: 1em;
        }
      }
    }
  }

  .acshb-card-body {
    position: relative;
  }

  .acshb-frame-toggled {
    display: none;
  }
}
// ACSHB-FRAME END

// ACSHB-DROPDOWN START
.acshb-dropdown {
  .dropdown-item {
    cursor: pointer;
  }
}
// ACSHB-DROPDOWN END

// ACSHB-ACCORDION START
.acshb-accordion {
  position: relative;

  .acshb-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    h6,
    a {
      margin: 0;
      padding: 0;
    }
  }
  .acshb-accordion-body {
    padding: 1em;
    animation-duration: 0.25s;
  }
}
// ACSHB-ACCORDION END

// ACSHB-LOADER START
.acshb-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: rgba($white, $alpha: 1);

  $spinnerSize: 40;

  .spinner {
    width: $spinnerSize + px;
    height: $spinnerSize + px;

    circle {
      fill: transparent;
      stroke: theme-color("primary");
      stroke-width: 4;
      stroke-linecap: round;
      stroke-dasharray: (3.14 * $spinnerSize);
      -webkit-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
      -moz-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
      -ms-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
      -o-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
      transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
      -webkit-animation: spinner 2s linear infinite;
      -moz-animation: spinner 2s linear infinite;
      -ms-animation: spinner 2s linear infinite;
      -o-animation: spinner 2s linear infinite;
      animation: spinner 2s linear infinite;
    }
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
    50% {
      -webkit-transform: rotate(720deg);
      stroke-dashoffset: (3.14 * $spinnerSize);
    }
    100% {
      -webkit-transform: rotate(1080deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
  }

  @-moz-keyframes spinner {
    0% {
      -moz-transform: rotate(0deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
    50% {
      -moz-transform: rotate(720deg);
      stroke-dashoffset: (3.14 * $spinnerSize);
    }
    100% {
      -moz-transform: rotate(1080deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
  }

  @-ms-keyframes spinner {
    0% {
      -ms-transform: rotate(0deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
    50% {
      -ms-transform: rotate(720deg);
      stroke-dashoffset: (3.14 * $spinnerSize);
    }
    100% {
      -ms-transform: rotate(1080deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
  }

  @-o-keyframes spinner {
    0% {
      -o-transform: rotate(0deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
    50% {
      -o-transform: rotate(720deg);
      stroke-dashoffset: (3.14 * $spinnerSize);
    }
    100% {
      -o-transform: rotate(1080deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
    50% {
      transform: rotate(720deg);
      stroke-dashoffset: (3.14 * $spinnerSize);
    }
    100% {
      transform: rotate(1080deg);
      stroke-dashoffset: (0.66 * $spinnerSize);
    }
  }
}
// ACSHB-LOADER END

// ACSHB-ALERT START
.acshb-alert-container {
  position: fixed;
  right: 0;
  min-width: 250px;
  min-height: 200px;
  max-width: 300px;
  z-index: 99;

  .acshb-alert-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    .acshb-alert {
      position: relative;
      opacity: 1;
      width: 200px;

      .toast-header {
        justify-content: space-between;
        color: $white;
        font-weight: normal;

        button {
          color: $white;
        }
      }
    }

    .acshb-alert-success {
      border-color: theme-color("success");

      .toast-header {
        background-color: theme-color("success");
      }
    }

    .acshb-alert-error {
      border-color: theme-color("danger");

      .toast-header {
        background-color: theme-color("danger");
      }
    }

    .acshb-alert-info {
      border-color: theme-color("info");

      .toast-header {
        background-color: theme-color("info");
      }
    }

    .acshb-alert-warning {
      border-color: theme-color("warning");

      .toast-header {
        background-color: theme-color("warning");
      }
    }
  }
}
// ACSHB-ALERT END

// ACSHB-TOOLBAR START
.acshb-toolbar {
  img {
    height: 75px;

    @include media-breakpoint-only(xs) {
      height: 75px;
    }
  }
  
  .acshb-toolbar-logo {
    .acshb-toolbar-button {
      cursor: pointer;
    }
  }
}
// ACSHB-TOOLBAR END

// ACSHB-MODAL START
.acshb-modal {
    background-color: rgba($black, .5);
    
    .modal-content {
      max-height: calc(100vh - 60px);

      .modal-body {
        overflow-y: auto;
      }
    }
}
// ACSHB-MODAL END

// ACSHB-FORM START
.ng-option-marked {
  background-color: transparent !important;
}

.ng-option-selected {
  background-color: transparent !important;
}

.ng-select-focused {
  .ng-select-container {
    border-color: lighten($component-active-bg, 25%) !important;
    box-shadow: $input-btn-focus-box-shadow !important;
  }
}

.ng-value {
  background-color: lighten(theme-color("primary"), 25) !important;
}
// ACSHB-FORM END
