<div class="alerts">
    <h3>ALERTS</h3>
    <div class="mb-4">
        <acshb-button className="btn btn-success mr-4" (clicked)="onAlertClicked('success', true)">Alert Success Zamanlayıcılı</acshb-button>
        <acshb-button className="btn btn-info mr-4" (clicked)="onAlertClicked('info', true)">Alert Success Zamanlayıcılı</acshb-button>
        <acshb-button className="btn btn-warning mr-4" (clicked)="onAlertClicked('warning', true)">Alert Warning Zamanlayıcılı</acshb-button>
        <acshb-button className="btn btn-danger mr-4" (clicked)="onAlertClicked('error', true)">Alert Error Zamanlayıcılı</acshb-button>
    </div>
    <div class="mb-4">
        <acshb-button className="btn btn-success mr-4" (clicked)="onAlertClicked('success', false)">Alert Success Zamanlayıcısız</acshb-button>
        <acshb-button className="btn btn-info mr-4" (clicked)="onAlertClicked('info', false)">Alert Success Zamanlayıcısız</acshb-button>
        <acshb-button className="btn btn-warning mr-4" (clicked)="onAlertClicked('warning', false)">Alert Warning Zamanlayıcısız</acshb-button>
        <acshb-button className="btn btn-danger mr-4" (clicked)="onAlertClicked('error', false)">Alert Error Zamanlayıcısız</acshb-button>
    </div>
</div>
