<div class="cards">
    <h3>Kartlar</h3>
    <div class="row">
        <div class="col-lg-3 mb-4">
            <acshb-card title="Personel" value="1286" footer="ACSHB - 2019" classNames="border-light shadow-sm"
                icon="faUserFriends"></acshb-card>
        </div>
        <div class="col-lg-3 mb-4">
            <acshb-card title="Genel Müdürlük" value="864" footer="ACSHB - 2019" classNames="border-light shadow-sm"
                icon="faBuilding"></acshb-card>
        </div>
        <div class="col-lg-3 mb-4">
            <acshb-card title="Daire Başkanlığı" value="8" footer="ACSHB - 2019" classNames="border-light shadow-sm"
                icon="faBuilding"></acshb-card>
        </div>
        <div class="col-lg-3 mb-4">
            <acshb-card title="İl Müdürlükleri" value="81" footer="ACSHB - 2019" classNames="border-light shadow-sm"
                icon="faTachometerAlt"></acshb-card>
        </div>
    </div>
</div>