<div class="dropdowns">
    <h3>DROPDOWNS</h3>
    <div class="d-block">
        <acshb-dropdown title="Dropdown Tıkla" [data]="[
        { key: 0, value: 0, title: 'Seçenek 1' },
        { key: 1, value: 1, title: 'Seçenek 2' },
        { key: 1, value: 1, title: 'Seçenek 3' },
        { key: 1, value: 1, title: 'Seçenek 4' },
        { key: 1, value: 1, title: 'Seçenek 5' }
      ]" color="primary" (selectCallback)="onSelected($event)"></acshb-dropdown>
        <acshb-dropdown title="Dropdown Tıkla" [data]="[
        { key: 0, value: 0, title: 'Seçenek 1' },
        { key: 1, value: 1, title: 'Seçenek 2' },
        { key: 1, value: 1, title: 'Seçenek 3' },
        { key: 1, value: 1, title: 'Seçenek 4' },
        { key: 1, value: 1, title: 'Seçenek 5' }
      ]" color="secondary" (selectCallback)="onSelected($event)"></acshb-dropdown>
    </div>
</div>